footer {
	padding: 10px 0 40px;
	background: $color_green;
	background: url(../img/bg_green.jpg) repeat;
	text-align: center;

	h2 {color: $color_white;}

	p {
		font: 14px $font;
		color: $color_white; 
		padding: 5px 0; 
		text-align: left;

	}

}



.adress_city {text-transform: uppercase;}


.ri1, .ri2 {display: inline-block;}


.ri1 {float: right; padding-right: 40px;}
.ri2 {float: left; padding-left: 40px;}



@include respond(iphone) {
		footer .col-1-2 {    
			float: none;
			width: 100%;
			.ri1, .ri2 {float: none; padding: 0;}
			p {text-align: center; }
		}

		footer .col-1-2 {    
			float: none;
			width: 100%;
			.ri1, .ri2 {float: none; padding: 0;}
			p {text-align: center; }
		}

	}






@include respond(l_iphone) {

		footer .col-1-2 {    
			float: none;
			width: 100%;
			.ri1, .ri2 {float: none; padding: 0;}
			p {text-align: center; }
		}

		footer .col-1-2 {    
			float: none;
			width: 100%;
			.ri1, .ri2 {float: none; padding: 0;}
			p {text-align: center; }
		}


	}
