.manufact {

	padding: 10px 0 40px;
}



@include respond(iphone) {
		.manufact .col-1-2 {    
			float: none;
			margin: 10px;
			width: 95%;
	}} 


@include respond(l_iphone) {
		.manufact .col-1-2 {    
			float: none;
			margin: 10px;
			width: 95%;
	}} 


.manufact__text p {
	font: 13px $font_sb;
	text-transform: uppercase;
	padding-bottom: 20px;

}




.sklad {

	padding: 10px 0 40px;
	background: $color_green;
	background: url(../img/bg_green.jpg) repeat;

	h2 {color: $color_white;}

}


@include respond(iphone) {
		.sklad .col-1-2 {    
			float: none;
			margin: 10px;
			width: 95%;
	}} 


@include respond(l_iphone) {
		.sklad .col-1-2 {    
			float: none;
			margin: 10px;
			width: 95%;
	}} 


.sklad__text p {color: $color_white; padding: 0 0 30px; text-align: left;}





.dillers {

	padding: 10px 0 60px;
	text-align: center;


}


@include respond(desktop) {.dillers p{width: 60%; margin: 0 auto;}}

.dillers .bbut {margin: 0 auto; width: 220px; margin-bottom: 50px; padding: 15px 0;}
@include respond(l_iphone){.dillers .bbut {width: 300px;}}
@include respond(ipad){.dillers .bbut {width: 340px;  font: 37px $font_eb; line-height: 1.1;}}
@include respond(l_ipad){.dillers .bbut {width: 370px;  font: 40px $font_eb; line-height: 1.1;}}
@include respond(desktop){.dillers .bbut {width: 370px; font: 40px $font_eb; line-height: 1.1;}}


#dillers__tel {display: block; margin: 50px auto; padding: 5px 10px;}

.dillers {
	background: url(../img/map.svg) no-repeat;
	background-position: center center;
	background-size: contain;
}


#dillers__tel {border: 1px solid #939598;}
#dillers__tel:focus {outline:none;}
#dillers__tel:active {outline:none;}

