


$font:		open_sansregular, sans-serif;
$font_tit:	philosopherbold, sans-serif;
$font_sb:	open_sanssemibold, sans-serif;
$font_eb:	open_sansextrabold, sans-serif;



$color_white:			#fff;
$color_black:			#000000;
$color_gray:			#e6e7e9;
$color_yellow:			#fef200;
$color_red:				#651c09;
$color_green:			#016b2b;



